<%- include('partials/header.ejs') %>
<div id="pageContent" class="mt-xl-4">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <h1 class="text-decoration-underline"> New Comic </h1><br>
      <form method="POST" action='/addComic'>
        <div class="mb-3">
          <label for="title" class="form-label">Title:</label>
          <input type="text" class="form-control" name="title" required>
        </div>
        <div class="mb-3">
          <label for="url" class="form-label">Url: </label>
          <input type="text" class="form-control" name="url" required>
        </div>
        <div class="mb-3">
          <label for="publishDate" class="form-label">Publish Date:</label>
          <input type="date" class="form-control" name="publishDate" required>
        </div>
        <div class="mb-3">
          <label for="webSite" class="form-label">Web Site:</label>
          <select name="comicSiteId" class="form-select" aria-label="Default select example">
            <option selected>Select Web Site</option>
            <% if(typeof websiteNames != "undefined") { %> 
              <% for (let i = 0; i < websiteNames.length; i++) { %>
                <option name="comicSiteId" value="<%=websiteNames[i].comicSiteId%>">
                  <%=websiteNames[i].comicSiteName%>
                </option>
              <% } %>
            <% } %>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit New Comic</button>
      </form>
        <% if(typeof message != "undefined") { %>
          <%=message%>
        <% } %>
      </div>
</div>
  </body>
 <%- include('partials/footer.ejs') %>

</html>