<%- include('partials/header.ejs') %>

    <div class="d-flex flex-column align-items-center justify-content-center gap-2">
       <h1 class="mt-3 mb-3 text-decoration-underline"><%= comics[0].comicSiteName %></h1>
       <% for (let i = 0; i < comics.length; i++) { %>
         <h2 class="comicTitle"><%= comics[i].comicTitle %><br></h2>
         <img src="<%= comics[i].comicUrl %>" alt="Comic Image"><br>
         <div class="d-flex flex-row align-items-center justify-content-center gap-1">
           <form method="POST" action="/showAddComment"> [
          <button type="submit" class="btn btn-link" id="addComments" name="comicId" value="<%=comics[i].comicId%>">
             Add Comments
          </button>
          ]
          </form> [
          <button type="submit" class="viewComments btn btn-link" name="comicId" id="<%=comics[i].comicId%>">
              View Comments
          </button>
           ]
         </div>
         <hr><hr>
      <% } %>
      </div>


        <div class="modal" id="displayComments" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" id="allComments">
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
      
    <% if (typeof comics != "undefined") { %> 
      <script src="/js/comments.js"></script>
    <% } %>
  </body>
 <%- include('partials/footer.ejs') %>

</html>