<!DOCTYPE html>
<html lan="en">
  <%- include('partials/header.ejs') %>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Comics</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/addComic">Add Comic</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/comicPage">Comics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Add Comment</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="d-flex flex-column align-items-center justify-content-center">
     <% if (typeof comics != "undefined") { %>
       <h1><%= comics[0].comicSiteName %></h1>
       <% for (let i = 0; i < comics.length; i++) { %>
         <%= comics[i].comicTitle %><br>
         <img src="<%= comics[i].comicUrl %>" alt="Comic Image"><br>
          <a href="#" class="showAddCommentModal" id="<%= comics[i].comicId %>">
             Add Comments
           </a>
      <% } %>
    <% } %>

       <!-- Add Comment Modal -->
       <div id="addCommentModal" class="modal" tabindex="-1">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-body">
               <h1>Adding Comments</h1>
             </div>
              <div class="modal-footer">
               <button type="button" class="btn btn-primary">Submit Comment</button>
           </div>
         </div>
       </div>
      </div>



      <script src="/js/comments.js"></script>
  </body>
 <%- include('partials/footer.ejs') %>

</html>