<!DOCTYPE html>
<html lan="en">
  <%- include('partials/header.ejs') %>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Comics</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/addComic">Add Comic</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1 class="text-center">My Favorite Comics</h1>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <!-- add comic button -->
      <a class="btn btn-primary" href="/addComic" role="button">Add Comic</a>

      <form method="POST" action='/displayComicsByBrand'>
      <!-- display all comic site names and links -->
      <% for (i=0; i < comicSites.length; i++) { %>
          <br><button type="submit" class="btn btn-primary" name="comicSiteId" value="<%=comicSites[i].comicSiteId%>"><%=comicSites[i].comicSiteName%></button><br>
         <a href="<%=comicSites[i].comicSiteUrl%>"><%=comicSites[i].comicSiteUrl%></a>
      <% } %>
        </form>

      <!-- random comic -->
      <div id="displayRandomComic"></div>
      <button class="btn btn-primary" id="buttonRandomComic">Display Random Comic</button>

      </div>
    </div>
      <script src="/js/scripts.js"></script>
  </body>
 <%- include('partials/footer.ejs') %>

</html>