<%- include('partials/header.ejs') %>
  
    <h1 class="text-center text-decoration-underline mt-3 mb-3">My Favorite Comics</h1><br>
    <div class="d-flex flex-column align-items-center justify-content-center gap-2">
      <!-- add comic button -->
      <a class="btn btn-info btn-outline-light btn-lg" href="/addComic" role="button">Add Comic</a><br>
      
      <form method="POST" action='/displayComicsByBrand'>
        <div class="d-flex flex-column align-items-center justify-content-center">
          <!-- display all comic site names and links -->
          <% for (i=0; i < comicSites.length; i++) { %>
            <button type="submit" id="comicSiteName" class="btn btn-link" name="comicSiteId" value="<%=comicSites[i].comicSiteId%>"><%=comicSites[i].comicSiteName%></button>
            <a href="<%=comicSites[i].comicSiteUrl%>"><%=comicSites[i].comicSiteUrl%></a><hr>   
          <% } %>
          </div>
        </form>
        
      <!-- random comic -->

      <div class="comicTitle d-flex flex-column align-items-center" id="displayRandomComic" ></div>
      <button class="btn btn-info btn-lg btn-outline-light" id="buttonRandomComic">Display Random Comic</button>
        </div>
      <script src="/js/scripts.js"></script>
  </body>
 <%- include('partials/footer.ejs') %>

</html>